<div class="row fullwidth run-details">
    <div class="large-4 columns">
        <div class="row collapse prefix-radius">
            <div class="small-3 columns">
                <span class="prefix">Name</span>
            </div>
            <div class="small-9 columns">
                <input type="text" placeholder="Name" ng-model="name">
            </div>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="row collapse postfix-radius">
            <div class="small-3 columns">
                <span class="prefix">Date</span>
            </div>
            <div class="small-9 columns">
                <input type="text" placeholder="Date" ng-model="date">
            </div>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="row collapse postfix-radius">
            <div class="small-3 columns">
                <span class="prefix">Run No. #</span>
            </div>
            <div class="small-9 columns">
                <input type="text" placeholder="Run No" ng-model="runNo">
            </div>
        </div>
    </div>
</div>
<div class="row fullwidth body-row">
    <div ng-controller="videoController as controller" class="row video-row">
        <div class="videogular-container small-12 medium-6 large-6 columns">
            <videogular vg-theme="videoConfig.theme.url" vg-player-ready="controller.onPlayerReady($API)">
                <vg-media vg-src="videoConfig.sources" vg-tracks="videoConfig.tracks">
                </vg-media>
                <vg-controls vg-autohide="videoConfig.plugins.controls.autoHide" vg-autohide-time="videoConfig.plugins.controls.autoHideTime">
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                    <vg-playback-button></vg-playback-button>
                    <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls>
            </videogular>
            <div class="row">
                <div class="large-12 columns">
                    <rzslider rz-slider-model="videoSlider.value" rz-slider-options="videoSlider.options"></rzslider>
                </div>
            </div>
        </div>
        <!--End video container-->
        <div ng-controller="footController" class="foot-container small-12 medium-6 large-6 columns">
            <highchart id="footChart" config="footChartConfig"></highchart>
            <!--foot placeholder-->
            <!-- <img src="img/foot.png" alt="foot" width="500"> -->
        </div>
    </div>
    <!--End video row -->
    <!-- Left foot-->
    <div class="row graph-row">
        <div ng-controller="graphControllerLeft" class="graph-row">
            <div class="small-12 medium-6 large-6 columns">
                <highchart id="forceChartLeft" config="chartConfig"></highchart>
                <div class="row">
                    <div class="columns large-8">
                        <ul class="button-group">
                            <li>
                                <button ng-click="moveLineLeft()" class="button">Play</button>
                            </li>
                            <li>
                                <button ng-click="stopLineLeft()" class="button">Pause</button>
                            </li>
                            <li>
                                <button ng-click="resetLineLeft()" class="button">Reset</button>
                            </li>
                        </ul>
                    </div>
                    <div class="columns large-4 end-import">
                        <ng-csv-import class="import button" content="csv.content" header="csv.header" header-visible="csv.headerVisible" separator="csv.separator" separator-visible="csv.separatorVisible" result="csv.result" encoding-visible="csv.encodingVisible" upload-button-label="csv.uploadButtonLabel">
                        </ng-csv-import>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right foot-->
        <div ng-controller="graphControllerRight" class="graph-row">
            <div class="small-12 medium-6 large-6 columns">
                <highchart id="forceChartRight" config="chartConfig"></highchart>
                <div class="row">
                    <div class="columns large-4 end-import">
                        <ng-csv-import class="import button" content="csv.content" header="csv.header" header-visible="csv.headerVisible" separator="csv.separator" separator-visible="csv.separatorVisible" result="csv.result" encoding-visible="csv.encodingVisible" upload-button-label="csv.uploadButtonLabel">
                        </ng-csv-import>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <input type="file" id="csvFile"  multiple><!--Maybe allow two file upload? -->
        <button class="button" ng-click="csvUpload()" id="submit-parse">Upload</button>
    <!--End graph row -->
</div>
<!--End body row -->
<!-- Visualize data -->
<!-- <div ng-if="csv.content" class="block left">
    <h2>CSV</h2>
    <div class="content"><pre>{{ csv.content }}</pre></div>
  </div> -->
<!-- 
 <div class="block left"  ng-if="csv.result">
    <div class="content" source="toPrettyJSON(csv.result, 2)"></div>
  </div> -->
